<div class="modal-header">
    <h4 class="pull-left modal-title">{{day.employee.name}}, {{day.date.substring(0,10)}}</h4>
    <input type="hidden" ng-model="day.id">
    <input type="hidden" ng-model="day.employee.id">
    <div class="pull-right" style="margin-left:18px; ">
        <select class="btn btn-default"
                ng-model="day.type"
                ng-options="dayType.indexOf(ind) as ind for ind in dayType"
                ng-change="typeChanged()">

        </select>
    </div>
    <br />
</div>

<div class="modal-body" id="modal-body" ng-show="day.type==1">
    <div class="row">
        <div class="col-md-4"><b>PROJECT</b></div>
        <div class="col-md-4"><b>DESCRIPTION</b></div>
        <div class="col-md-1"><b>TIME</b></div>
        <div class="col-md-1"><b></b></div>
    </div>
    <div class="row" style="padding:2px;" ng-repeat="task in day.details">
        <div ng-hide="task.deleted">
            <input type="hidden" ng-model="task.id">
            <div class="col-md-4">
                <select ng-model="task.project.id" class="form-control"
                        ng-options="project.id as project.name for project in projects"
                        ng-value="project.id">{{project.name}}></select>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" ng-model="task.description">
            </div>
            <div class="col-md-1">
                <input type="text" class="form-control" ng-model="task.hours" ng-change="upd(task, $index)">
            </div>
            <div class="col-md-1 text-center">
                <btn class="btn btn-danger btn-sm" ng-click="del($index)">Delete</btn>
            </div>
            <!--<div class="col-md-1">{{$index}}</div>-->
        </div>
    </div>
    <div class="row" style="padding:2px;">
        <input type="hidden" ng-model="newTask.id">
        <div class="col-md-4">
            <select ng-model="newTask.project.id" class="form-control"
                    ng-options="project.id as project.name for project in projects"
                    ng-value="project.id">{{project.name}}></select>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" ng-model="newTask.description">
        </div>
        <div class="col-md-1">
            <input type="text" class="form-control" ng-model="newTask.hours">
        </div>
        <div class="col-md-1 text-center">
            <button class="btn btn-primary btn-sm" ng-click="add(newTask)">Save</button>
        </div>
    </div>
</div>
<div class="modal-footer">
    <h5 class="pull-left modal-title">Total working hours: {{day.hours}}<sup>h</sup></h5>
    <button class="btn btn-primary" type="button" ng-click="ok()">Save</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Close</button>
</div>