
<div>
    <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
        <tr>
            <th>Team {{data.name}} <div class="pull-right">
                <a href="" ng-click="addMember(data)"><i class="glyphicon glyphicon-plus"></i></a>
                <a href="" ng-click="edit(data)"><i class="glyphicon glyphicon-pencil"></i></a>
                <a href="" ng-click="confirmDelete(data)"><i class="glyphicon glyphicon-trash"></i></a>
            </div>
            </th>
        </tr>
        <tr>
            <th>Members</th>
            <th>Roles</th>
            <th></th>
        </tr>
        <tr ng-repeat="member in data.members">
            <td style="vertical-align: middle">{{member.employee.name}}</td>
            <td style="vertical-align: middle">{{member.role.name}}</td>
            <td> <a href="" ng-click="deleteMember(member)"><i class="glyphicon glyphicon-trash"></i></a>

            </td>
        </tr>
    </table>
</div>









